<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <style>
      .ocultar{
        display: none;
      }
    </style>

    <title>Inventary Junk</title>
</head>
<body>
  <div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
          </a>
        </div>
        <div class="flex lg:hidden">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="/" class="text-sm font-semibold leading-6 text-gray-900">Home</a>
  
          <a href="{% url 'signup' %}" class="text-sm font-semibold leading-6 text-gray-900">Signup</a>
  
          <a href="{% url 'inventary' %}" class="text-sm font-semibold leading-6 text-gray-900">Inventary</a>
  
          <a href="{% url 'entry' %}" class="text-sm font-semibold leading-6 text-gray-900">Entry</a>

          <a href="{% url 'sell' %}" class="text-sm font-semibold leading-6 text-gray-900">Sell</a>

          <a href="{% url 'junk' %}" class="text-sm font-semibold leading-6 text-gray-900">Junk Car</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="{% url 'signin' %}" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>
      
{% block content %}
{% endblock %}

<script>
  const inputBuscar = document.getElementById('search')
const celdas = document.getElementsByTagName('th', 'td')

//buscar
inputBuscar.addEventListener('keyup', e=>{
    let texto = e.target.value
    let er = new RegExp(texto, "i")
    for (let i = 0; i< celdas.length; i++) {
      let valor = celdas[i];
      if (er.test(valor.innerText)) {
            valor.classList.remove("ocultar")
      } else {
            console.log("valor")
            valor.classList.add("ocultar")
      }
    
    }
})
</script>
<!-- <script>
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script> -->
</body>
</html>